@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-mmp-primary: #1e40af;
  --color-mmp-primary2: #041442;
  --color-mmp-secondary: #38bdf8;
  --color-mmp-accent: #0ea5e9;
  --color-mmp-neutral: #f8fafc;

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.4244 0.1809 265.6377);
  --primary-foreground: oklch(0.9842 0.0034 247.8575);
  --secondary: oklch(0.7535 0.139 232.6615);
  --secondary-foreground: oklch(0.3791 0.1378 265.5222);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.6847 0.1479 237.3225);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.4244 0.1809 265.6377);
  --chart-1: oklch(0.4244 0.1809 265.6377);
  --chart-2: oklch(0.7535 0.139 232.6615);
  --chart-3: oklch(0.6847 0.1479 237.3225);
  --chart-4: oklch(0.3791 0.1378 265.5222);
  --chart-5: oklch(0.7137 0.1434 254.624);
  --sidebar: oklch(0.9842 0.0034 247.8575);
  --sidebar-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-primary: oklch(0.4244 0.1809 265.6377);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9288 0.0126 255.5078);
  --sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --sidebar-border: oklch(0.869 0.0198 252.8943);
  --sidebar-ring: oklch(0.4244 0.1809 265.6377);
  --font-sans: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Coustard, ui-serif, serif;
  --font-mono: Oxygen Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.2795 0.0368 260.031);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.2795 0.0368 260.031);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.7535 0.139 232.6615);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.3791 0.1378 265.5222);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.2795 0.0368 260.031);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.6847 0.1479 237.3225);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.3717 0.0392 257.287);
  --input: oklch(0.3717 0.0392 257.287);
  --ring: oklch(0.7535 0.139 232.6615);
  --chart-1: oklch(0.7535 0.139 232.6615);
  --chart-2: oklch(0.4244 0.1809 265.6377);
  --chart-3: oklch(0.6847 0.1479 237.3225);
  --chart-4: oklch(0.7137 0.1434 254.624);
  --chart-5: oklch(0.3791 0.1378 265.5222);
  --sidebar: oklch(0.2077 0.0398 265.7549);
  --sidebar-foreground: oklch(0.9683 0.0069 247.8956);
  --sidebar-primary: oklch(0.7535 0.139 232.6615);
  --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-accent: oklch(0.2795 0.0368 260.031);
  --sidebar-accent-foreground: oklch(0.7535 0.139 232.6615);
  --sidebar-border: oklch(0.2795 0.0368 260.031);
  --sidebar-ring: oklch(0.7535 0.139 232.6615);
  --font-sans: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Coustard, ui-serif, serif;
  --font-mono: Oxygen Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 6px 12px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 6px 12px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 6px 12px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 6px 12px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 6px 12px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 6px 12px 0px hsl(0 0% 0% / 1);
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
